<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>precanna styles</title>
    <link rel="icon" href="img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="css/slick.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="css/price_rangs.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="bg-white">
  <!-- include common hearder -->
  <%- include ('include/common-header') %>

  <!--================Home Banner Area =================-->
  <!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-12">
                  <div class="breadcrumb_iner">
                      <div class="breadcrumb_iner_item">
                          <p>Home / Login</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- breadcrumb start-->

  <!--================login_part Area =================-->
  <section class="login_part section_padding">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-6 col-md-6">
                  <div class="login_part_text text-center">
                      <div class="login_part_text_iner">
                          <h2>New to our Shop?</h2>
                          <p>Create an account to have access to cart
                          and make orders today.</p>
                          <a href="/register" class="btn_3">Create an Account</a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6">
                  <div class="login_part_form">
                      <div class="login_part_form_iner">
                        <% var message ="";
                          switch (msg) {
                            case '0':
                              message = "Welcome Back!";
                              break;
                            case '1':
                              message = "Your registration was succesful!"
                              break;
                            case '2':
                              message = "Login attempt failed. Please try again..."
                              break;
                            default:
                            } %>
                          <h3><%= message %><br>
                              Please Sign in now</h3>
                          <form class="row contact_form" action="/auth" method="post" >
                              <div class="col-md-12 form-group p_star">
                                  <input type="email" class="form-control" id="email" name="email" value=""
                                      placeholder="Email" required>
                              </div>
                              <div class="col-md-12 form-group p_star">
                                  <input type="password" class="form-control" id="password" name="password" value=""
                                      placeholder="Password" required>
                              </div>
                              <div class="col-md-12 form-group">
                                  <div class="creat_account d-flex align-items-center">
                                      <input type="checkbox" id="f-option" name="selector">
                                      <label for="f-option">Remember me</label>
                                  </div>
                                  <button type="submit" value="submit" class="btn_3">
                                      log in
                                  </button>
                                  <a class="lost_pass" href="/forgot">forget password?</a>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--================login_part end =================-->

  <!-- include shipping_details view -->
  <%- include ('include/shipping') %>

  <!-- include common footer -->
  <%- include ('include/common-footer') %>

  <!-- include jquery plugins -->
  <%- include ('include/jqueryplugins') %>

</body>

</html>
